/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/* Custom styles */
body {
	position: relative;
	font-family: Roboto Mono, monospace;
	font-size: 16px;
	line-height: 1.2;
	color: rgb(68, 64, 60);
}

.text-yellow {
	color: rgb(234 179 8);
}

button {
	font-family: Roboto Mono, monospace;
	border: 0;
	padding: 10px 15px;
	background-color: rgb(234, 179, 8);
	font-size: 16px;
	border-radius: 4px;
	cursor: pointer;
}

input {
	padding: 10px 15px;
	border-radius: 4px;
	border: 1px solid rgb(231 229 228);
}

input:focus {
	outline: 1px solid rgb(234, 179, 8);
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.logo {
	text-decoration: none;
	font-size: 20px;
	color: rgb(68, 64, 60);
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgb(234, 179, 8);
	padding: 15px 20px;
}

.content {
	text-align: center;
}

.title {
	font-size: 30px;
	line-height: 1.2;
	margin-bottom: 20px;
}

.sub-title {
	margin-bottom: 30px;
}

.login-form {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

/* Menu */
.menu {
	margin-top: 100px;
}

.pizza {
	display: flex;
	gap: 16px;
	padding: 8px 0;
}

.pizza__image {
	width: 100px;
	height: 100px;
}

.pizza__info {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.pizza__name {
	font-weight: 500;
	text-align: left;
}

.pizza__ingredients {
	font-style: italic;
	margin-bottom: 10px;
	text-align: left;
}

.pizza__actions {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.pizza__price {
	font-size: 14px;
}

.pizza__count {
	margin-left: auto;
	margin-right: 20px;
}

.pizza__count span {
	margin: 0 10px;
}

/* nav */
nav {
	display: flex;
	gap: 0 20px;
}

nav a {
	text-decoration: none;
	font-size: 18px;
	color: rgb(68, 64, 60);
}

/* Form */
span.error {
	display: block;
	width: 100%;
	font-size: 12px;
	color: red;
	margin-top: 10px;
}

.formItem {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.formItem.checkbox label {
	flex-wrap: nowrap;
	width: initial;
	margin-left: 10px;
}

form label {
	display: block;
	width: 150px;
}

/* Posts */
h1.post-title {
	font-size: 25px;
	font-weight: 700;
	margin-top: 100px;
}

.posts-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	max-width: 800px;
	margin-top: 30px;
	margin-bottom: 50px;
}

.posts-wrapper .post {
	width: calc((100% / 3) - 10px);
	background: #ddd;
	border-radius: 12px;
	padding: 15px;
	border: 1px solid #c4c4c4;
}

.posts-wrapper .post h3 {
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 10px;
}

.posts-wrapper .post p {
	font-size: 14px;
}

.error-message {
	color: red;
	font-size: 18px;
}

.counter {
	border: 1px solid #ddd;
	border-radius: 12px;
	padding: 20px 0;
	margin-top: 50px;
}

.counter button {
	margin: 10px 5px;
}

.counter p {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 10px;
}

/* Cart */
.cart {
	margin-top: 100px;
}

.cart .cart-table {
	border-bottom: 1px solid #ddd;
	margin-top: 50px;
}

.cart .cart-table .row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.cart .cart-table .row:nth-last-child(1) {
	border-bottom: none;
	margin-bottom: 0;
}

.cart .cart-table .row .col {
	padding: 0 20px;
}

.cart .cart-table .row .col:nth-child(2) {
	text-align: left;
	flex: 1;
}

.cart .cart-table .row .col img {
	width: 100px;
	border-radius: 12px;
}
